/*===============================
    Banner
  ===============================*/

/* ======= Banner - Mobile+ ======= */

.banner {
  position: relative;
  overflow: hidden;
}

/* Banner-Content */

.banner-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 120px 15px 60px;
  min-height: 470px;
}

.banner-content > .article-label {
  font-size: 12px;
  font-weight: 400;
  text-shadow: 0px 3px 6px rgba(0,0,0,0.16);
}

.banner-content > h1 {
  font-size: 36px;
  color: rgba(255, 255, 255, .9);
  margin: 15px 0;
  line-height: 1;
  font-weight: 700;
  text-shadow: 0px 3px 6px rgba(0,0,0,0.16);
}

.banner-content > button {
  font-size: 13px;
  color: #fff;
  height: 35px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #77AF44;
  background-color: var(--primary-color-regular);
  font-family: 'Source Sans Pro', sans-serif;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  transition: background-color .25s;
  -webkit-transition: background-color .25s;
  -moz-transition: background-color .25s;
  -ms-transition: background-color .25s;
  -o-transition: background-color .25s;
}

.banner-content > button:hover,
.banner-content > button:focus,
.banner-content > button.js-touch {
  background-color: #69B227;
  background-color: var(--primary-color-light);
}

.banner-content > button:active {
  background-color: #659B34;
  background-color: var(--primary-color-dark);
}

/* End-Banner-Content */

/* Featured-banner */

.featured-banner {
  width: 100%;
  position: relative;
  border-top: 1px solid rgba(255, 255, 255, .2);
}

.banner-featured-slider {
  width: 100%;
  display: flex;
}

.banner-featured-slider article {
  height: 70px;
}

.banner-featured-slider article.slick-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}

.banner-featured-slider article > .article-label {
  opacity: .6;
  font-weight: 400;
}

.banner-featured-slider article > p {
  font-size: 14px;
  margin: 0;
  line-height: 1.4;
  font-weight: 400;
  text-align: center;
  color: rgba(255, 255, 255, .9);
  font-family: 'Source Sans Pro', sans-serif;
}

.featured-dots.slick-dots {
  bottom: 15px;
  padding-right: 30px;
}

.featured-dots.slick-dots li,
.featured-dots.slick-dots li button {
  width: 6px;
  height: 6px;
  margin: 0 5px;
}

.featured-dots.slick-dots li button:before {
  font-family: 'slick';
  font-size: 16px;
  line-height: 20px;
  width: 6px;
  height: 6px;
  content: '';
  border: 1px solid #ffffff;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

.featured-dots.slick-dots li.slick-active button:before {
	background-color: #fff;
}

/* End-Featured-banner */

.banner-gradient {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+25,000000+75,000000+100&1+0,0.16+25,0.16+75,1+100 */
  background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,0.16) 25%, rgba(0,0,0,0.16) 75%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.16) 25%,rgba(0,0,0,0.16) 75%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.16) 25%,rgba(0,0,0,0.16) 75%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

/* ======= Banner - Large Mobile+ ======= */
@media (min-width: 480px) {}

/* ======= Banner - Tablet+ ======= */

@media (min-width: 768px) {

  /* Banner-Content */

  .banner-content {
    align-items: center;
    padding: 160px 80px 80px;
    min-height: 600px;
  }

  .banner-content > .article-label {
    font-size: 15px;
    text-align: center;
  }

  .banner-content > h1 {
    font-size: 60px;
    text-align: center;
    margin: 15px 0;
  }

  .banner-content > button {
    font-size: 15px;
    height: 42px;
    min-width: 200px;
  }

  /* End-Banner-Content */

  /* Featured-banner */

  .banner-featured-slider article.slick-slide {
    padding: 0 150px;
  }

  .banner-featured-slider article > p {
    font-size: 15px;
  }

  .featured-dots.slick-dots {
    bottom: 28px;
    padding-right: 80px;
  }

  .featured-dots.slick-dots li,
  .featured-dots.slick-dots li button,
  .featured-dots.slick-dots li button:before {
    width: 8px;
    height: 8px;
  }

  /* End-Featured-banner */

}

/* ======= Banner - Desktop+ ======= */

@media (min-width: 992px) {

  /* Banner-Content */

  .banner-content {
    align-items: flex-start;
    padding: 160px 25% 80px 50px;
  }

  .banner-content > .article-label,
  .banner-content > h1 {
    text-align: left;
  }

  /* End-Banner-Content */

  /* Featured-banner */

  .banner-featured-slider {
    padding: 0;
  }

  .banner-featured-slider > article {
    flex-basis: 0;
    flex-grow: 1;
    padding: 50px;
    min-height: 165px;
    border-right: 1px solid rgba(255, 255, 255, .2);
  }

  .banner-featured-slider > article:last-child {
    border-right: 0px;
  }

  .banner-featured-slider article > p {
    text-align: left;
  }

  .featured-dots.slick-dots {
    display: none;
  }

  /* End-Featured-banner */

}

/* ======= Banner - Large Desktop+ ======= */
@media (min-width: 1200px) {

  /* Banner-Content */

  .banner-content {
    padding-left: 0;
  }

  /* End-Banner-Content */

  /* Featured-banner */

  .banner-featured-slider > article:first-child {
    margin-left: -50px;
  }

  .banner-featured-slider > article:last-child {
    margin-right: -50px;
  }

  /* End-Featured-banner */

}